<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/prices.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul id="prices-list"></ul>
  </body>
</html>
